<? xml version='1.0' encoding='utf-8'/>
<odoo>
    <menuitem id="menu_hospital_root"
    name="Hospital Management System"
    sequence='10'
    />

    <menuitem id="menu_front_desk"
    name="Front Desk"
    parent="menu_hospital_root"/>

    <menuitem id="menu_hospital_patient"
    name="Patients"
    parent="menu_hospital_root"
    action="action_hospital_patient"/>
</odoo>