<odoo>
    <!-- Root Menu -->
    <menuitem id="menu_hospital_root"
        name="Hope Hospital"
        sequence="10"
        web_icon="odoo_boilerplate,static/description/icon.png"/>

    <!-- Front Desk Submenu -->
    <menuitem id="menu_front_desk"
        name="Front Desk"
        parent="menu_hospital_root"/>
    
    <!-- Patients Menu Under Front Desk -->
    <menuitem id="menu_hospital_patient"
        name="Patient Registry"
        parent="menu_front_desk"
        action="action_hospital_patient"/>

    <menuitem id="menu_patient_appointment"
        name="Patient Appointments"
        parent="menu_front_desk"
        action="action_patient_appointment"/>
</odoo>
